@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.navbar {
  margin-top: 0;
  border-radius: 6px;
  background-color: transparent !important;
}

.jumbotron {
  margin: 50px;
  padding: 0;
  padding-bottom: 60px;
}

.column-1 {
  float: left;
  width: 1%;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

.column-2 {
  float: left;
  width: 98%;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

.column-3 {
  float: left;
  width: 1%;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

.sub-heading {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-message {
  margin-top: 80px;
  font-size: 60px;
}

.collapse {
  margin-right: 250px;
}

.nav-item {
  padding-right: 50px;
}

.nav-link {
  font-weight: bold;
  color: black !important;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sign-up-button {
  font-weight: bold;
  color: #7852E2;
  border: 3px solid #7852E2;
  margin-right: 0;
  padding-right: 30px;
  padding-left: 30px;
}

.navbar-brand {
  font-family: "Ubuntu", "Courier New", monospace;
  font-size: 40px;
  font-weight: bold;
  color: #7852E2 !important;
}


.form-control-borderless {
  border: none;
  font-size: 20px;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.search-button {
  padding-left: 30px !important;
  padding-right: 30px !important;
  background-color: #6935FD;
  font-weight: bold;
}

.error-message {
  margin-left: 200px !important;
}


footer {
  margin-top: 180px;
  margin-bottom: 0;
}

footer p {
  margin-top: 10px;
}

footer .nav-item {
  font-weight: lighter !important;
}

.footer-link {
  color: black;
}

.search-result-city {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3px;
}

.search-result-details {
  background-color: white;
  padding-top: 23px;
  padding-bottom: 10px;
  display: table-cell;
  vertical-align: center;
  border-radius: 3px;
}

